.Nav_container{
    /* display: flex; */
    justify-content: end;
    color: black;
    position: relative;
    left: 300px;
}
a{
    color: black;
}


/* Make navbar text and icons black */
.navbar .text-black {
    color: black !important; /* Override Bootstrap's default white color */
}

.navbar-dark .navbar-toggler {
    color: black;
    border-color: black;
}

.navbar-dark .nav-link {
    color: black !important; /* For links in the navbar */
    position: relative;
    left: 800px;
    top: -30px;
   
   
}

.navbar-dark .dropdown-menu {
    background-color: #f8f9fa; /* Light background for dropdown */
    color: black;
    position: relative;
    left: 780px;
    top: -1px;
}
