
/* div{
    background-color: blue;
} */
.sideBar{
    width: 250px;
    height: 100%;
    background-color: rgb(82, 62, 170);
    position: absolute;
    top : 0px;
    overflow:  hidden !important;
    position: fixed;
    
    
}
div span{
    color: aliceblue;
}
li{
    color: rgb(12, 13, 14);
}
li a{
    color: white;
    border-style: none;
}
a{  
    display: inline-block;
    position: relative;
    z-index: 1;
    
   
    border-style: none;
}


.sidebarList{
    height: auto;
    width: 100%;
    padding: 0;
    position: relative;
    top:80px;
    

}
.sidebarList li{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    list-style-type: none;
    color: white;
}

li span{
    flex: 30%;
    display: grid;
    place-items: center;
}

li .title{
    flex: 70%;
    text-decoration: none;
    display: flex;
    height: 50px;

}
li:hover{
    cursor: pointer;
    background-color: #293846;
    color: aliceblue;
} 






