.container{
    position: relative;
    top: 70px;
    left: 120px;
    width: 950px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.list-group-item {
    font-size: 0.9rem;
}