.Nav_container{
    /* display: flex; */
    justify-content: end;
    /* color: black !important; */
    position: fixed !important;


    position: relative;
    top: 10px;
    /* left: 300px; */}

a{
    color: black;
}


/* Make navbar text and icons black */
.navbar .text-black {
    color: rgb(226, 223, 223) !important; /* Override Bootstrap's default white color */
}

.navbar-dark .navbar-toggler {
    color: black;
    border-color: black;
}

.dropdown-toggle {
    background-image: none !important;
  }

.navbar-dark .nav-link {
    color: black !important; /* For links in the navbar */
    position: relative;
    /* left: 800px; */
    top: -30px;
   
}

.nav-link {
    position: relative;
    left:1100px;

}

.navbar-dark .dropdown-menu {
    background-color: #f8f9fa; /* Light background for dropdown */
    color: black;
    position: relative;
    left: 1060px;
    top: -1px;
}


